<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form to add post</title>
</head>
<body>
    <div align="center">
    <form method="post" action="/posts">
    <!-- <input placeholder="enter id" name="id"><br><br> -->
    <input placeholder="enter username" name="username"><br><br>
    <input placeholder="enter descript" name="descript"><br><br>
    <button>Submit Post</button>
</div>
</form>
</body>
</html>